.table__header {
    display: inline-block;
    margin-right: 2em;
  }
  
  button {
    background-color: lightgreen;
    border: none;
    margin: 1px;
    border-radius: 3px;
    width: 6em;
    height: 2em;
  }
  
  button:hover {
    background-color: greenyellow;
  }

  .table {
    margin-left: 40%;
    margin-top: 100px;
  }